* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;

    height: 100%;
    overflow: hidden;
}

.header {
    background-image: url('./images/background.jpg');
    background-position: center;
    opacity: 0.8;
    height: 100vh;
}

.container {
    width: 920px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}

h1 {
    display: inline;
}

.container nav, 
.container ul, 
.container li {
    display: inline;
}

nav {
    position: absolute;
    right: 0;
    padding: 10px 6px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 8px 20px;
    margin-left: 20px;
}

ul li:last-child {
    background-color: #EA918D;
}

.hero-section {
    position: absolute;
    top: 24%;
}

h2 {
    font-size: 56px;
    margin: 16px 0;
}

h2 > span {
    display: block;
}

.hero-section .icons {
    margin: 40px 0;
}

.hero-section .icons .icon {
    color: #000;
    float: left;
}

.hero-section .icons .icon span {
    background-color: #fff;
    padding: 16px;
    border-radius: 50%;
}

.hero-section .icons .desc {
    margin: 0 76px;
    padding-top: 6px;
}

.hero-section .icons .desc strong {
    font-size: 20px;
    line-height: 37px;
}